:root {
    --color-1: #3DA5D9;
    --color-2: #054A91;
}

.content {
    padding: 0 20vw;
    margin-bottom: 100px;
}

.calculator {
    border: 1px solid var(--color-2);
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
}

.calculator-title {
    background-color: var(--color-1);
}

.main-calories {
    background-color: var(--color-1);
    height: 15vh;
    border: 1px solid var(--color-2);
    border-radius: 15px;
}

.secondary-calories {
    background-color: white;
    height: 15vh;
    border: 1px solid var(--color-2);
    border-radius: 15px;
}

.navbar {
    background-color: var(--color-2);
}

.nav-link {
    border-radius: 15px;
}

.nav-link:hover, .nav-link.active{
    background-color: var(--color-1);
}

footer {
    background-color: #DAE0E7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}
}